body {
	background-color: snow;
	font-size: 2rem;
	font-family: 'Times New Roman', sans;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

header {
	padding: 9rem;
}

p {
	position: relative;
	z-index: 1;
}

input {
	text-align: center;
	font-size: 2rem;
	font-family: 'Times New Roman', sans;
	padding: 1rem;
	margin: 1rem;
	border-radius: 15px;
}

button {
	text-align: center;
	font-size: 2rem;
	font-family: 'Times New Roman', sans;
	padding: 1rem;
	margin: 1rem;
	border-radius: 15px;
	border-width: 1px;
}

.elementti {
	flex-direction: column;
	align-items: center;
}

#rekisterointi:hover, .nappi:hover{
	background-color: lightgrey;
}

#otsikkopala {
	padding: 10rem;
	z-index: 1;
}

#kuva {
	top: 4rem;
	width: 50rem;
	position: fixed;
	z-index: -1;
	opacity: 0.2;
}
